NODE_ENV="development"
PORT=3000

APP_NAME="Hospital Management System"
APP_SLUG="HMS"   
APP_DOMAIN=localhost
APP_URL=http://localhost:5173
API_URL=http://localhost:3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/hospital_management_system"
REDIS_URL=redis://localhost:6379

BETTER_AUTH_SECRET=

# AI Configuration
GEMINI_API_KEY=
GEMINI_API_URL=
GEMINI_TIMEOUT=
GEMINI_MAX_RETRIES=


BUILD_MINIFY=true
BUILD_SOURCEMAP=true
#BUILD_BYTECODE=true
#BUILD_COMPILE_TARGET=bun-linux-x64-baseline
#BUILD_COMPILE_ONLY=true